body {
    background-color: beige;
    text-align: center;
}

h1 {
    font-size: 76;
}

h2 {
    font-size: 34;
}

h3 {
    font-size: 86;
}

h4 {
    font-size: 86;
}

h5 {
    font-size: 86;
}
